.contact-text {
  background: linear-gradient(to top,#FFC104 40%, transparent 40%);
}

.contact {
  border-color: #FFC104;
  background-color: white !important;
  position: fixed;
  z-index: 9;
}

.contact:hover {
  background-color: #FFC104 !important;
}

@media (max-width: 768px) {
  .Header {
    max-height: 90px;
  }
  .contact {
    position: relative;
    transform: scale(.80);
  }

}
