.accent-bar {
  padding: 1rem;
  margin-bottom: 1rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;

}

.contact-text {
  background: linear-gradient(to top,#FFC104 40%, transparent 40%);
}

.contact {
  border-color: #FFC104;
  background-color: white !important;

  position: fixed;
  right: 5rem;
  z-index: 9;
}

.contact:hover {
  background-color: #FFC104 !important;
}

.navLinks {
  display: flex;
  justify-content: flex-start;
  margin-left: 1rem;
}
.navinavi-link{
  background: linear-gradient(to top, #FFC104 35%, transparent 30%);
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: xx-large;
  padding-left: .25rem;
  padding-right: .25rem;
}
.navinavi-link:hover{
  background-color: #FFC104;
  transition: .2s
}


@media (max-width: 768px) {
  .Header {
    max-height: 90px;
  }
  .contact {
    position: relative;
    right: .25rem;
    transform: scale(.80);
  }

}


