.icons img {
  width: 50px;

  filter: gray;
  /* -webkit-filter: grayscale(1); */
  transition: all 0.3s;
  margin: 5px;
}

.icons img:hover {

  transform: scale(1.25);
  filter: none;
  -webkit-filter: none;
}

.icon-wrapper {
  width:22rem;
}